* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #352440;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header {
  background-color: #352440ba;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  padding: 20px 0;
  position: sticky;
  top: 20px;
  z-index: 10;

  width: 90%;

  margin: 0 auto;

  border-radius: 160px;
  border: 3px solid #FAFBD4;

  backdrop-filter: blur(15px);

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


}

.header__logo {
  vertical-align: middle;
  display: flex;
}

.header__nav {
  display: flex;
  vertical-align: middle;
  margin-left: 350px;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header__item {
  color: #FAFBD4;
  margin: 0 10px;
  display: flex;
  text-decoration: none;
}

.header__link {
  color: #FAFBD4;
  text-decoration: none;
}


/* about me start */
.hero {

  background-color: #352440;
  text-align: left;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 63px;

  height: calc(100vh - 110px);

}


/* PROJECTS */

/* body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #000;
} */

.section__title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 50px 0 30px;
    color: #FAFBD4;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 ta ustun aniq belgilandi */
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 60px;
}

.project__card {
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    overflow: hidden;
    background: #6c567a8d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.project__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #FAFBD4;
}

.project__card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 20px 5px;
    color: #FAFBD4;
}

.project__card p {
    color: #FAFBD4;
    font-size: 14px;
    margin: 0 20px 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 20px 20px;
}

.tags span {
  background: #352440;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 12px;
    color: #FAFBD4;
    transition: all 0.3s ease;
}

.tags span:hover {
    background: #000;
    color: #fff;
}
